<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клиенты | KazMetalTrade</title>
    <link rel="icon" type="image/ico" sizes="32x32" href="../img/favicon32.ico">
    <link rel="icon" type="image/ico" sizes="16x16" href="../img/favicon16.ico">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <aside class="sidebar">
        <a class="sidebar__logo">
            <img src="../img/logo.png" alt="KazMetalTrade" class="sidebar__logo_img logo_opacity">
            <i class='bx bx-menu' id="btn"></i>
        </a>
        <ul class="sidebar__nav">
            <li class="sidebar__item">
                <a href="./panel.html" class="sidebar__link">
                    <i class='bx bx-home'></i>
                    <span class="sidebar__name">Главная</span>
                </a>
                <span class="sidebar__tooltip">Главная</span>
            </li>
            <li class="sidebar__item">
                <a href="./clients.html" class="sidebar__link">
                    <i class='bx bx-group'></i>
                    <span class="sidebar__name">Клиенты</span>
                </a>
                <span class="sidebar__tooltip">Клиенты</span>
            </li>
            <li class="sidebar__item">
                <a href="./request.html" class="sidebar__link">
                    <i class='bx bx-notepad'></i>
                    <span class="sidebar__name">Заявки</span>
                </a>
                <span class="sidebar__tooltip">Заявки</span>
            </li>
            <li class="sidebar__item">
                <a href="./users.html" class="sidebar__link">
                    <i class='bx bx-user'></i>
                    <span class="sidebar__name">Пользователи</span>
                </a>
                <span class="sidebar__tooltip">Пользователи</span>
            </li>
            <li class="sidebar__item profile">
                <a href="./cabinet.html" class="profile__details">
                    <img src="../img/user.png" alt="Фото" class="profile__photo">
                    <div class="profile__job">
                        <span class="profile__user">Ким Олег</span>
                        <span class="profile__rank">Администратор</span>
                    </div>
                </a>
                <a href="./login.html"><i class='bx bx-log-out' id="log_out"></i></a>
            </li>
        </ul>
    </aside>

    <main class="main">
        <section class="cabinet">
            <div class="panel_container">
                <form action="#" method="POST" class="cabinet__form">
                    <h2 class="cabinet__title">Личный кабинет</h2>
                    <div class="cabinet__content">
                        <div class="cabinet__group">      
                            <input type="text" class="cabinet__input" required>
                            <span class="cabinet__highlight"></span>
                            <span class="cabinet__bar"></span>
                            <label class="cabinet__label">Логин</label>
                        </div>
                        <div class="cabinet__group">      
                            <input type="text" class="cabinet__input" required>
                            <span class="cabinet__highlight"></span>
                            <span class="cabinet__bar"></span>
                            <label class="cabinet__label">Старый пароль</label>
                        </div>
                        <div class="cabinet__group">      
                            <input type="text" class="cabinet__input" required>
                            <span class="cabinet__highlight"></span>
                            <span class="cabinet__bar"></span>
                            <label class="cabinet__label">Новый пароль</label>
                        </div>
                        <div class="cabinet__group">      
                            <input type="text" class="cabinet__input" required>
                            <span class="cabinet__highlight"></span>
                            <span class="cabinet__bar"></span>
                            <label class="cabinet__label">Подтвердите пароль</label>
                        </div>
                        <input type="submit" class="cabinet__submit" value="Отправить">
                    </div>
                </form>
            </div>
        </section>
    </main>

    <!-- Sidebar -->
    <script src="../js/sidebar.js"></script>
    <!-- Input Mask -->
    <script src="../libs/mask/inputmask.min.js"></script>
    <script src="../js/inputMask.js"></script>
    <!-- Modal window -->
    <script src="../js/modal.js"></script>
</body>
</html>