<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в панель | KazMetalTrade</title>
    <link rel="icon" type="image/ico" sizes="32x32" href="../img/favicon32.ico">
    <link rel="icon" type="image/ico" sizes="16x16" href="../img/favicon16.ico">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <main class="main-content">
        <section class="login">
            <div class="login__wrapper">
                <div class="login__content">
                    <h2 class="login__name">Вход в панель сотрудника</h2>
                    <form action="" class="login__form">
                        <input type="text" class="login__input" placeholder="Введите логин ">
                        <input type="password" class="login__input" placeholder="Введите пароль ">
                        <div class="checkbox">
                            <input class="custom-checkbox" type="checkbox" id="remember" name="remember" value="Запомнить пароль">
                            <label for="remember">Запомнить пароль</label>
                        </div>
                        <input type="submit" class="login__btn" value="Войти">
                        <a href="/views/reset.html" class="login__btn">Забыли пароль?</a>
                    </form>
                </div>
            </div>
        </section>
    </main>


    <!-- Select custom -->
    <script src="../libs/select/bvselect.js"></script>
    <script src="../js/select.js"></script>
</body>
</html>